# Core dependencies
streamlit
numpy
opencv-python-headless
pandas
PyYAML
seaborn
setuptools
wget
Pillow
requests

# Torch & Vision
torch>=1.10
torchvision>=0.11

# Ultralytics (for YOLO model support)
ultralytics==8.0.20
